@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
}

i.fas{
    margin-right: 5px;
}
.tous{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name{
    font-size: 400%;
}

.un{
    font-size:x-large;
}


button{
    color: rgba(99, 95, 94, 0.78);
    height: 100%;
}

.recherche{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.recherche>input{
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
    width: 30%;
    font-size: 125%;
}

.recherche>button{
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 0 30px 30px 0;
}

.recherche>button > i{
    margin-right: 5px;
}

.resultat{
    display:flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

#resultat{
    height: 65vh;
    overflow: auto;
}

.cocktail{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.cocktail-tmb{
    padding: 15px;
    width: 300px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
}

.titre{
    font-size: 2em;
}

.conteneur{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#recette{
    display:grid;
    grid-template-areas: "img nom"
    "img ing"
    "img recette";
}

#recette > .cocktail-img {
    grid-area: img;
    width: 40vw;
}
#recette > .cocktailTitle {
    grid-area: nom;
    font-size: 4em;
    display: flex;
    justify-content: center;
}
#recette > .cocktail-ings {
    grid-area: ing;
    display:flex;
    justify-content: center;
}
#recette > .cocktail-ings>ul>li.cocktail{
display:list-item;
}

#recette > .cocktail-recette {
    grid-area: recette;
    font-size: 2em;
    padding-left: 30px;
    padding-right: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.action{
    position: fixed;
    top: 20px;
    right: 20px;
}

.action>a{
    border: 1px;
    padding: 10px 25px;
    font-size: 2em;
    color: #444;
    background-color: #A1A1A1;
    border-radius: 10px;
}

.block{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.onglet{
    display: none;

}

.onglet>a{
    cursor:pointer;
    padding: 5px 10px;
    border: 1px;
    font-size: 2em;
    color: #444;
    background-color: #A1A1A1;
}

.listall{
    position: fixed;
    top: 20px;
    right: 20px;
    border: 1px;
    padding: 10px 25px;
    font-size: 2em;
    color: #444;
    background-color: #A1A1A1;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
button {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.712);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      background-image: linear-gradient(315deg, #2c2c2c 0%, #818181 74%);
      background-size: 200% 100%;
      background-position: left;
      background-repeat: no-repeat;
      transition: 500ms;
      font-size: 0.7em;
  }
  
button:before {
      color: rgba(255, 255, 255, 0.658);
      font-size: 16px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
     
      background-color: #ffffff;
      background-image: linear-gradient(315deg, #2c2c2c 0%, #818181 74%);
      transition: 500ms;
  }
  
button:hover {
      background-position: right;
  }
  
button:hover:before {
      color: rgba(255,255,255,0.8);
  }
  
button:focus {
      outline: none;
  }
  
#letter {
      display:flex;
      margin: 10px;
      font-size: 2em;
      flex-wrap:wrap;
  }

.letter{
    font-size: 2em;
}

@media  only screen 
  and (max-device-width: 600px) {

    .listall{
        position: fixed;
        top: 20px;
        right: 20px;
        border: 1px;
        padding: 10px 25px;
        font-size: 1em;
        color:#444;
        background-color: #A1A1A1;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: underline;
    }

    .recherche>input{
width: 100%;
border-radius: 30px;
    }

    .recherche>button{
        display:none;
        
    }

    .onglet>a{
       
        font-size: 1.5em;
        
    }
    
    #resultat{
        height: 50vh;
    }

    #recette{
        grid-template-areas: "nom"
        "img"
        "ing"
        "recette";
        justify-items: center;
        margin-top: 30px;
    }

    #recette > .cocktail-img {
        width: auto;
        height: 30vh
    }

    .action{
        left: 20px;
    }
}